.plan-editor__field {
    box-sizing: border-box;
    display: flex;
    padding: 1em;
    width: 100%;
}

@media (min-width: 700px) {
    .plan-editor {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .plan-editor__field {
        width: 50%;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .plan-editor__field {
        margin: 0.5em 0;
        width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .plan-editor__field {
        margin: 1em 0;
        width: 25%;
    }   
}

.plan-editor__label {
    font-size: 1.5em;
    font-weight: bold;
}

.plan-editor__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #88898A;
    flex: 1 1 auto;
    font-size: 1.25em;
    margin-left: 1em;
    text-align: center;
    width: 3em;
}

.plan-editor__input:focus {
    border-bottom-color: #F15060;
    outline: none;
}