.exercise {
    padding: 1em;
}

.exercise__title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.exercise__tiles {
    display: flex;
    flex-wrap: wrap;
    justifyContent: space-between;
}
